{{#each allarticles}}
<div class="row articlerow" data-id="{{this._id}}">
    <p class=" titleS"><strong>Title :</strong>{{this.title}}</p>
    <p class="sumS"><strong>Summary :</strong>{{this.summary}}</p>
    <a href="{{this.link}}">
        <p class="linkS">Link to the main article</p>

    </a>

    <button class="saveS" id="saveCom">Save</button>


</div>


{{/each}}